
body{
    /*BORRAMOS EL ESPACIADO*/
  
}

h1{
    font-family: Georgia;
    height: 7%; 
    text-align: center;
	color: white;
    box-shadow: 0 -3px #dc9af4 inset;      
    background-attachment: fixed;
}
.ventana{
    background-color: #FEBE00;
    background-repeat: no-repeat;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 38%;
    top: 22%;
    display: none;
    color: white
}
#cerrar{
    position: absolute;
    right: 3px;
    top: 1px;
}
.text-center{ 
     text-align:center;
color: #fff;
font-family: Georgia;
font-size: 30px;
letter-spacing: 0;
}
p {
    margin: 1%;
    border-radius: 40px;
  width: 50%;
  height: 30%;
  border: 3px solid black;
  padding: 30px 20px;
  background-color: transparent;
  background-size: contain;
background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.text-final{
    position: absolute;
   width: 100%;
     text-align:center;
color: #fff;
font-family: Georgia;
font-size: 40px;
letter-spacing: 0;
     box-shadow: 0  3px #dc9af4 inset;



}
.text-final-f{
  width: 100%;
   bottom: 0px;
  font-size: 40px;
}
.text-center2{
    color:  white;
}

