footer{
    padding: 70px;
    min-height: 20vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: #fff;
}
footer .slogan{
    font-size: 1.5em;
    text-align: center;
}
footer a{
    color: #fff;
}