

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1058%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(242%2c 221%2c 164%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c41 C 96%2c53.2 288%2c109.6 480%2c102 C 672%2c94.4 768%2c2.4 960%2c3 C 1152%2c3.6 1344%2c84.6 1440%2c105L1440 560L0 560z' fill='rgba(231%2c 239%2c 197%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c228 C 96%2c222.2 288%2c191 480%2c199 C 672%2c207 768%2c266.2 960%2c268 C 1152%2c269.8 1344%2c220 1440%2c208L1440 560L0 560z' fill='rgba(191%2c 215%2c 181%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c349 C 72%2c359.4 216%2c408 360%2c401 C 504%2c394 576%2c316 720%2c314 C 864%2c312 936%2c384 1080%2c391 C 1224%2c398 1368%2c357.4 1440%2c349L1440 560L0 560z' fill='rgba(163%2c 196%2c 188%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c449 C 96%2c462.2 288%2c516.2 480%2c515 C 672%2c513.8 768%2c438.2 960%2c443 C 1152%2c447.8 1344%2c519.8 1440%2c539L1440 560L0 560z' fill='rgba(65%2c 60%2c 88%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1058'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-color: #413C58;
    background-size: 100%;
    background-repeat: no-repeat;
    height: fit-content;

    display: flex;
    flex-direction: column;

}


/*HEADER*/
header{
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    text-shadow: 4px 4px 1px rgba(65,60,88,0.88);
    padding: 0 50px;
    
}
header a{
    text-decoration: none;
    color: #fff;
}
header i{
    font-size: 1.5em;
    color: #fff;
}
.left div{
    padding: 20px;
    border-radius: 30px;

    width: 60%;
    min-width: 400px;
    height: fit-content;
    background-color: #fffa;
    backdrop-filter: blur(8px);

    box-shadow:
    5.8px 6.7px 4.4px rgba(0, 0, 0, 0.07),
    15.9px 18.4px 12.1px rgba(0, 0, 0, 0.053),
    38.3px 44.3px 29.2px rgba(0, 0, 0, 0.05),
    127px 147px 97px rgba(0, 0, 0, 0.042)
    ;

}
.left p{
    text-shadow: none;
    line-height: 1.3;
    margin-bottom: 10px;
}




.emprendimientos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    padding: 40px;
}

.emprendimiento-contenedor{
    display: block;
    
    text-decoration: none;
    flex-grow: 1;
    color: #000;

    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 15px;

    background-size: cover;
   
   box-shadow: 12px 9px 0px 3px rgba(163,196,188,0.73);
    -webkit-box-shadow: 12px 9px 0px 3px rgba(163,196,188,0.73);
    -moz-box-shadow: 12px 9px 0px 3px rgba(163,196,188,0.73);
/*
box-shadow: -49px -34px 0px -23px rgba(163,196,188,1);
-webkit-box-shadow: -49px -34px 0px -23px rgba(163,196,188,1);
-moz-box-shadow: -49px -34px 0px -23px rgba(163,196,188,1);
*/
}
.emprendimiento-contenedor .emprendimiento-info{
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    overflow: hidden;

    background-color: #fff;

    transition: opacity 0.7s;
}
.bloqueado{
    color: red;
    background-color: #000;
}
.emprendimiento-info div{
    max-height: 100%;
    width: 100%;
    padding: 25px;
    transition: all 0.4s;
    overflow: hidden;
}
.emprendimiento-info div p{
 font-size: 12px;
}
.emprendimiento-info div p, .emprendimiento-info div h3{
    text-overflow: "...";
}
.emprendimiento-info i {
    opacity: 0;
    transition: all 1s;
}

.emprendimiento-contenedor:hover > .emprendimiento-info {
    opacity: 0;
}
.emprendimiento-contenedor:hover > .emprendimiento-info div {
    opacity: 0;
}
.emprendimiento-contenedor:hover > .emprendimiento-info i {
    opacity: 1;
}


.solicitud{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    padding: 40px;
}

.solicitud-contenedor{
    display: block;
    
    text-decoration: none;
    flex-grow: 1;
    color: #000;

    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 15px;

    background-size: cover;
   
   box-shadow: 12px 9px 0px 3px rgba(163,196,188,0.73);
    -webkit-box-shadow: 12px 9px 0px 3px rgba(163,196,188,0.73);
    -moz-box-shadow: 12px 9px 0px 3px rgba(163,196,188,0.73);
/*
box-shadow: -49px -34px 0px -23px rgba(163,196,188,1);
-webkit-box-shadow: -49px -34px 0px -23px rgba(163,196,188,1);
-moz-box-shadow: -49px -34px 0px -23px rgba(163,196,188,1);
*/
}
.solicitud-contenedor .solicitud-info{
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    overflow: hidden;

    background-color: #fff;

    transition: opacity 0.7s;
}

.solicitud-info div{
    max-height: 100%;
    width: 100%;
    padding: 25px;
    transition: all 0.4s;
    overflow: hidden;
}
.solicitud-info div p{
 font-size: 12px;
}
.solicitud-info div p, .solicitud-info div h3{
    text-overflow: "...";
}
.solicitud-info i {
    opacity: 0;
    transition: all 1s;
}

.solicitud-contenedor:hover > .solicitud-info {
    opacity: 0;
}
.solicitud-contenedor:hover > .solicitud-info div {
}
.solicitud-contenedor:hover > .solicitud-info i {
    opacity: 1;
}





@media (max-width: 700px) {
    body{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='700' height='1200' preserveAspectRatio='none' viewBox='0 0 700 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1068%26quot%3b)' fill='none'%3e%3crect width='700' height='1200' x='0' y='0' fill='rgba(242%2c 221%2c 164%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c248 C 46.8%2c209.6 140.4%2c66.2 234%2c56 C 327.6%2c45.8 374.8%2c206.8 468%2c197 C 561.2%2c187.2 653.6%2c45 700%2c7L700 1200L0 1200z' fill='rgba(231%2c 239%2c 197%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c584 C 46.8%2c552.8 140.4%2c444.6 234%2c428 C 327.6%2c411.4 374.8%2c508.6 468%2c501 C 561.2%2c493.4 653.6%2c412.2 700%2c390L700 1200L0 1200z' fill='rgba(191%2c 215%2c 181%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c689 C 35%2c717.6 105%2c829.2 175%2c832 C 245%2c834.8 280%2c712 350%2c703 C 420%2c694 455%2c778 525%2c787 C 595%2c796 665%2c755.8 700%2c748L700 1200L0 1200z' fill='rgba(163%2c 196%2c 188%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c943 C 46.8%2c985.2 140.4%2c1152.4 234%2c1154 C 327.6%2c1155.6 374.8%2c949.2 468%2c951 C 561.2%2c952.8 653.6%2c1120.6 700%2c1163L700 1200L0 1200z' fill='rgba(65%2c 60%2c 88%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1068'%3e%3crect width='700' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: 100%;
        width: 100vw;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    header{
        flex-direction: column;
        padding: 0;
    }
    .emprendimiento-contenedor{
        margin: 0;
        margin-top: 30px;
    }
    .left{
        padding: 10px;
        text-align: center;
    }
    .left div{
        width: 90%;
        min-width: none;
        text-align: justify;
        font-size: smaller;
    }

    .emprendimientos{
        width: 100%;
    }

    .solicitud-contenedor{
        margin: 0;
        margin-top: 30px;
    }
    .solicitud{
        width: 100%;
    }

   }


